<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ComercialColindresContext" providerName="System.Data.SqlClient" connectionString="data source=(localdb)\MSSQLLocalDB;initial catalog=ComercialColindres;Trusted_Connection=True;MultipleActiveResultSets=True;" />
  </connectionStrings>
  <appSettings>
    <add key="FtpUserName" value="josue"/>
    <add key="FtpPassword" value="josuecito#14"/>
    <add key="FtpHostname" value="ftp.jcespinoza.com"/>
    <add key="FtpPortNumber" value="21"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.webServer>
    <!-- ServiceStack: Required -->
    <modules>
      <remove name="WebDAVModule"/>
    </modules>
    <handlers>
      <remove name="WebDAV"/>
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <location path="api">
    <system.web>
      <httpHandlers>
        <add path="api*" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*"/>
      </httpHandlers>
    </system.web>
    <!-- Required for IIS 7.0 (and above?) -->
    <system.webServer>
      <validation validateIntegratedModeConfiguration="false"/>
      <handlers>
        <add path="api*" name="ServiceStack.Factory" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true"/>
      </handlers>
    </system.webServer>
  </location>
</configuration>
